* {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/montserrat.ttf");
}

:root {
   --accent-color: #382EC3;
   --font: "Montserrat", sans-serif;
}

body {
    padding: 10px;
    font-family: var(--font);
}

.start {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--accent-color);
    z-index: 100;
    animation: fadeOut 1s 2s forwards;
}

.start img {
    width: 300px;
    height: auto;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--accent-color);
    width: 100%;
    height: 100px;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

header img {
    width: 100px;
    height: auto;
}

header p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

header i {
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
}

main {
    position: absolute;
    top: 90px;
}

.alert {
    width: 90%;
    height: auto;
    filter: drop-shadow(1px 1px 2px #000000);
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.alert p {
    font-size: 14px;
}

.alert h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.alert i {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 15px;
    cursor: pointer;
}  

.credentials {
    width: 90%;
    height: auto;
    filter: drop-shadow(1px 1px 2px #000000);
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    padding: 10px;
    background-color: #cbecda;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.credentials h3 {
    font-size: 16px;
    width: 50%;
    margin: auto 0;
    margin-left: 30px;
}

.credentials img {
    width: 80px;
    height: auto;
    margin: auto 0;
    margin-right: 30px;
}

.services {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.services h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.service {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    filter: drop-shadow(1px 1px 2px #000000);
    margin: 10px;
    font-size: 12px;
}

.services div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service i {
    font-size: 30px;
    color: var(--accent-color);
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: grey;
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: white;
}

.selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    width: 100px;
    padding: 5px;
    font-size: 14px;
}

.selector i {
    font-size: 15px;
    margin-bottom: 5px;
}

.selector img {
    width: 25px;
    height: auto;
}

.selector:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.selected {
    color: var(--accent-color);
}
